<?xml version="1.0" encoding="utf-8"?>
<packages>
  <targets>
    <target
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:type="File" name="Logs" fileName="${basedir}/logs/${shortdate}.log"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</packages>